<header>
  {% load static %}
  {% load i18n %}
  <div>
    <img src="{% static 'img/logo.jpg' %}" alt="Логотип" align="right">
    {% with request.resolver_match.view_name as view_name %}
    <ul class="nav nav-pills">
      <li class="nav-item">
        {% if view_name != "homepage:home" %}
        <a class="nav-link {% if view_name == 'homepage:home' %}active{% endif %}"
           href="{% url 'homepage:home' %}">
          {% trans "На главную" %}
        </a>
        {% else %}
        <a class="nav-link {% if view_name == 'homepage:home' %}active{% endif %}">
          {% trans "На главную" %}
        </a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if view_name != "about:description" %}
        <a class="nav-link {% if view_name == 'about:description' %}active{% endif %}"
           href="{% url 'about:description' %}">
          {% trans "О проекте" %}
        </a>
        {% else %}
        <a class="nav-link {% if view_name == 'about:description' %}active{% endif %}">
          {% trans "О проекте" %}
        </a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if view_name != 'catalog:item-list' %}
        <a class="nav-link {% if view_name == 'catalog:item-list' %}active{% endif %}"
           href="{% url 'catalog:item-list' %}">
          {% trans "Список товаров" %}
        </a>
        {% else %}
        <a class="nav-link {% if view_name == 'catalog:item-list' %}active{% endif %}">
          {% trans "Список товаров" %}
        </a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if view_name != 'catalog:new' %}
        <a class="nav-link {% if view_name == 'catalog:new' %}active{% endif %}"
           href="{% url 'catalog:new' %}">
          {% trans "Новинки" %}
        </a>
        {% else %}
        <a class="nav-link {% if view_name == 'catalog:new' %}active{% endif %}">
          {% trans "Новинки" %}
        </a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if view_name != 'catalog:friday' %}
        <a class="nav-link {% if view_name == 'catalog:friday' %}active{% endif %}"
           href="{% url 'catalog:friday' %}">
          {% trans "Пятница" %}
        </a>
        {% else %}
        <a class="nav-link {% if view_name == 'catalog:friday' %}active{% endif %}">
          {% trans "Пятница" %}
        </a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if view_name != 'catalog:unverified' %}
        <a class="nav-link {% if view_name == 'catalog:unverified' %}active{% endif %}"
           href="{% url 'catalog:unverified' %}">
          {% trans "Непроверенное" %}
        </a>
        {% else %}
        <a class="nav-link {% if view_name == 'catalog:unverified' %}active{% endif %}">
          {% trans "Непроверенное" %}
        </a>
        {% endif %}
      </li>
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="/admin/">
          {% trans "Администрирование" %}
        </a>
      </li>
      {% endif %}
    </ul>
    {% endwith %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      {% trans "Язык" %}:
      <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
      </select>
      <input type="submit" value="{% trans 'Изменить' %}">
    </form>
  </div>
</header>