.item_block {
  display: inline-block;
  width: 330px;
  height: 700px;
  background: #DDA0DD;
  border: 5px solid #A9A9A9;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.item_block_link {
  color: #000000;
}

.header {
  overflow: hidden;
  background: #b2b8b2;
  border: 1px solid #181a18;
}

.feedback {
  width: 1000px;
  padding: 10px;
  margin: 10px;
}

.profile {
  width: 1000px;
  padding: 10px;
  margin: 10px;
}

.body_context {
  margin: 10px;
}

.lan_spinner {
  margin-left: 10px;
}

.cat_links {
  overflow: hidden;
  background: #e6e6e6;
  border: 1px solid #cccccc;
}

.statistics_user {
  display:inline-block;
}

.statistics_items {
  display:inline-block;
  padding: 20px;
  background: #bde0ff;
  border: 1px solid #9999ff;
}
