.item_block {
  display: inline-block;
  width: 330px;
  height: 700px;
  background: #DDA0DD;
  border: 5px solid #A9A9A9;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}

.header {
  overflow: hidden;
  background: #b2b8b2;
  border: 1px solid #181a18;
  margin: 0px 0px 10px 0px;
}

.feedback {
  width: 1000px;
  padding: 10px;
  margin: 10px;
}

.profile {
  width: 1000px;
  padding: 10px;
  margin: 10px;
}
