{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Товар" %}
{% endblock %}

{% block content %}
{% load static %}

<h1>{{ item.name }}</h1>
{% if item.main_image.image %}
<a href="{% url 'download:download-main-image' item.main_image.id %}" download>
		<img src="{{ item.main_image.image.url }}">
</a>
{% else %}
<img src="{% static 'img/default.png' %}">
{% endif %}
<p>{% trans "Текст:" %} {{ item.text }}</p>
<p>{% trans "Категория:" %} {{ item.category }}</p>
<p>{% trans "Теги:" %}</p>
{% for tag in item.tags.all %}
<ul>
		<li>
				{{ tag.name }}
		</li>
</ul>
{% endfor %}
{% if item.images.all %}
{% for image in item.images.all %}
<img src="{{ item.images.image.url }}">
{% endfor %}
{% else %}
<img src="{% static 'img/default.png' %}">
{% endif %}

{% endblock %}