{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Главная" %}
{% endblock %}

{% block content %}
<h1>{% trans "Дом, милый дом!" %}</h1>
{% load static %}


<img src="{% static 'img/cats.jpg' %}" alt="Котики">

<p>{% trans "Я приветствую тебя, путник! Неужели ты сам забрёл на эту БРОШЕННУЮ БОГОМ страницу?" %}</p>
<p>{% trans "Что ж, располагайся и выбирай всё, что душе угодно. Я надеюсь, ты найдешь что-нибудь себе по вкусу." %}</p>
<p>{% trans "ТОЛЬКО НЕ ЗАБУДЬ ЗАПЛАТИТЬ!!!" %}</p>

<div>
	{% for item in items %}
	{% include "includes/item_card.html" %}
	{% endfor %}
</div>

{% endblock %}